.listado-servicios {
    margin-bottom: 2rem;

    @include grid(1, 2rem);
    @include tablet {
        @include grid(2, 2rem);
    }

    .servicio {
        background-color: $blanco;
        padding-left: 2rem;
        border-radius: 1.5rem;
    }
    
    .seleccionado {
        background-color: $azul;
        color: $negro;
    
        .precio-servicio {
            color: $negro;
        }
    }
}

.precio-servicio {
    font-weight: $bold;
    font-size: 2.2rem;
    color: $azul;
}
.nombre-servicio {
    color: $negro;
    margin-bottom: 0;
}